:root {
  --wipo-body-header-height: 70px;
  --wipo-background-color: #fbedef;
}

[data-theme="light"],
:root:not([data-theme="dark"]) {
  --pico-background-color: var(--wipo-background-color);
  --pico-card-background-color: #fff;

  body > header nav a svg {
    g {
      display: inline;
    }
    path {
      display: none;
    }
  }
}

[data-theme="dark"] {
  body > header nav a svg {
    g {
      display: none;
    }
    path {
      display: inline;
    }
  }
}

:root {
  --wipo-background-default: var(--pico-background-color);
}

body {
  display: flex;
  flex-direction: column;
  min-height: 100vh;
}

body > header {
  --pico-block-spacing-vertical: 0;
  position: sticky;
  top: 0;
  z-index: 1;
  height: var(--wipo-body-header-height);
  background-color: var(--pico-background-color);
  border-bottom: 1px solid var(--pico-form-element-border-color);
}

body > header > .container {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding-inline: var(--pico-spacing);
  gap: var(--pico-spacing);
}

body > header > .container > a {
  display: flex;
  align-items: center;
  text-decoration: none;
  font-family: Cambria, Cochin, Georgia, Times, "Times New Roman", serif;

  img {
    height: calc(var(--wipo-body-header-height) - 1px);
    min-width: var(--wipo-body-header-height);
  }

  span {
    display: block;
  }
}

body > header > .container > form {
  margin: 0;

  input {
    padding: 0.5rem 1rem;
    max-height: 2.5rem;
  }
}

body > header > .container > nav {
  display: flex;
  align-items: center;

  button {
    display: flex;
    padding: 0;
    font-size: 2rem;
    background-color: transparent;
    border: none;
    color: var(--pico-primary);
  }

  button:is(:hover, :focus) {
    --pico-box-shadow: none;
  }

  div {
    display: none;
    top: -100%;
    transition: top var(--pico-transition);

    a {
      text-decoration: none;
      padding: var(--pico-spacing);
      background-color: var(--wipo-background-default);
      border-bottom: var(--pico-border-width) solid var(--pico-form-element-border-color);

      &:is(:hover, :focus) {
        text-decoration: none;
        background-color: var(--pico-primary);
        color: var(--pico-primary-inverse);
      }
    }
  }

  svg {
    margin-left: var(--pico-spacing);
  }

  div.open {
    display: flex;
    flex-direction: column;
    position: absolute;
    top: calc(100% + var(--pico-border-width));
    left: 0;
    width: 100%;
    z-index: 1;
  }

  @media (min-width: 768px) {
    button {
      display: none;
    }

    div.menu {
      display: flex;
      flex-direction: row;
      position: static;

      a {
        border-bottom: none;
        padding: 0.5rem 1rem;
        background-color: transparent;
      }

      a:is(:hover, :focus) {
        text-decoration: underline;
        color: var(--pico-primary);
        background-color: transparent;
        text-underline-offset: 4px;
      }
    }
  }
}

main {
  flex: 1;
}

body > footer {
  padding: 0 0 1rem;
  text-align: center;

  hr {
    margin-block: 0 0.5rem;
  }
}

@media (max-width: 768px) {
  .container {
    max-width: 100%;
    padding-inline: 0;
  }

  body > header > .container > a > span {
    display: none;
  }
}

@media (min-width: 1536px) {
  .container {
    max-width: 1200px;
  }
}
